@model MarketLocalShirts3.Models.Usuario

<form asp-action="Registro" method="post">

    <div>
        <input asp-for="Nombre" placeholder="Nombre" />
    </div>

    <div>
        <input asp-for="Email" placeholder="Email" />
    </div>

    <div>
        <input asp-for="PasswordHash" type="password" placeholder="Contraseña" />
    </div>

    <button type="submit">Registrarse</button>

</form>