<form method="post">
    <input name="Nombre" placeholder="Nombre" />
    <input name="Correo" placeholder="Correo" />
    <input name="Password" type="password" placeholder="Contraseña" />
    <button type="submit">Registrarse</button>
</form>