<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarketLocalShirts3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MarketLocalShirts3.styles.css" asp-append-version="true" />
</head>
<body class="bg-black">

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-controller="Cliente" asp-action="Inicio">
                    MarketLocalShirts3
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menuPrincipal">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cliente" asp-action="Inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cliente" asp-action="Catalogo">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cliente" asp-action="Login">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cliente" asp-action="Registro">Registrarse</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-controller="Usuarios" asp-action="Index">Admin Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-controller="Productos" asp-action="Index">Admin Productos</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>