@model MarketLocalShirts3.ViewModels.UsuarioViewModel

<div class="d-flex justify-content-center">
    <div class="card bg-black text-white p-4" style="width:400px;">
        <h4 class="bg-primary text-center p-2">Formulario de usuario</h4>

        <form asp-action="Create" method="post" novalidate>
            @Html.AntiForgeryToken()

            <label>Nombre:</label>
            <input asp-for="Nombre" class="form-control mb-2" />
            <span asp-validation-for="Nombre" class="text-danger d-block mb-2"></span>

            <label>Email:</label>
            <input asp-for="Email" type="text" class="form-control mb-2" />
            <span asp-validation-for="Email" class="text-danger d-block mb-2"></span>

            <label>Contraseña:</label>
            <input asp-for="PasswordHash" type="password" class="form-control mb-2" />
            <span asp-validation-for="PasswordHash" class="text-danger d-block mb-2"></span>

            <div class="form-group">
                <label>Dirección</label>
                <input asp-for="Direccion" class="form-control mb-2" />
                <span asp-validation-for="Direccion" class="text-danger d-block mb-2"></span>
            </div>

            <div class="form-group">
                <label>Teléfono</label>
                <input asp-for="Telefono" class="form-control mb-2" />
                <span asp-validation-for="Telefono" class="text-danger d-block mb-2"></span>
            </div>

            <div class="form-group">
                  <label>Ciudad</label>
                  <input asp-for="Ciudad" class="form-control mb-2" />
                  <span asp-validation-for="Ciudad" class="text-danger d-block mb-2"></span>
            </div>
           
            <label>Rol:</label>
            <select asp-for="RolId" asp-items="ViewBag.RolId" class="form-control mb-2"></select>
            <span asp-validation-for="RolId" class="text-danger d-block mb-2"></span>

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}