@model List<MarketLocalShirts3.Models.CarritoItem>

<h2 class="text-white">Carrito</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Marca</td>
                <td>$@item.Precio</td>
                <td>@item.Cantidad</td>
                <td>$@(item.Precio* item.Cantidad)</td>
                <td>
                    <a asp-action="Eliminar"
                       asp-route-id="@item.IdProducto"
                       class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h4 class="text-white">
    Total a pagar: $@Model.Sum(i => i.Precio * i.Cantidad)
</h4>

<form asp-action="ConfirmarPedido" method="post">
    <h5 class="text-white">Método de pago</h5>

    <div class="form-check text-white">
        <input class="form-check-input" type="radio" name="metodoPago" value="Efectivo" checked>
        <label class="form-check-label">Efectivo</label>
    </div>

    <div class="form-check text-white mb-3">
        <input class="form-check-input" type="radio" name="metodoPago" value="Transferencia">
        <label class="form-check-label">Transferencia</label>
    </div>

    <button type="submit" class="btn btn-primary">
        Confirmar pedido
    </button>

    <a asp-controller="Cliente"
       asp-action="Catalogo"
       class="btn btn-secondary">
        Agregar más al carrito
    </a>
</form>