@model List<MarketLocalShirts3.Models.CarritoItem>

@{

    var metodoPago = ViewBag.MetodoPago;
    decimal total = Model.Sum(x => x.Precio * x.Cantidad);
}

<h2 class="text-white">Pedido confirmado</h2>
<p class="text-white">Gracias por tu compra.</p>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Marca</td>
                <td>$@item.Precio</td>
                <td>@item.Cantidad</td>
                <td>$@(item.Precio* item.Cantidad)</td>
            </tr>
        }
    </tbody>
</table>

<h4 class="text-white">
    Total: $@total</h4>

<h4 class="text-white">
  Método de pago: <span class="text-info"> @metodoPago</span>
</h4>

<form asp-action="FinalizarPedido" method="post">
    <button type="submit" class="btn btn-success mt-3">
        Finalizar pedido
    </button>
</form>

