@{
    ViewData["Title"] = "Inicio";
}

<div class="container mt-5">
    <div class="row align-items-center">

        <div class="col-md-6 text-white">
            <h1 class="fw-bold">MarketLocal Shirts</h1>
            <p class="fs-5">Tienda en línea de playeras para hombre</p>

            <a asp-controller="Cliente" asp-action="Catalogo" class="btn btn-primary mt-3">
                Ver catálogo
            </a>

            <p class="mt-4 fst-italic">
                Explora nuestro catálogo y encuentra tu estilo ideal.
            </p>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center p-5">
            <div class="card border-0 shadow-lg rounded-4 overflow-hidden" style="max-width: 80%;">
                <img src="~/imagenes/playera.adidas.jpg"
                     class="img-fluid"
                     style="max-height: 400px; object-fit: contain; padding: 20px; background-color: #f8f9fa;"
                     alt="Playera de hombre">
              
            </div>
        </div>

    </div>
</div>

<script>
    //Josue
</script>