@{
    ViewData["Title"] = "Iniciar sesión";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card bg-dark text-white p-4 shadow" style="width:400px;">

        <h4 class="text-center mb-4">Iniciar sesión</h4>

        <form asp-action="Login" method="post">

            <input name="correo" class="form-control mb-3" placeholder="Correo" required />

            <input name="password" type="password" class="form-control mb-3" placeholder="Contraseña" required />

            <button type="submit" class="btn btn-primary w-100">
                Ingresar
            </button>

        </form>


        </form>

    </div>
</div>