@{
    ViewData["Title"] = "Iniciar sesión";
}

<div class="d-flex justify-content-center mt-5">
    <div class="card bg-dark text-white p-4" style="width:400px;">
        <h4 class="text-center mb-4">Iniciar sesión</h4>

        <form method="post">
            <input name="correo" class="form-control mb-3" placeholder="Correo" />
            <input name="password" type="password" class="form-control mb-3" placeholder="Contraseña" />

            <button type="submit" class="btn btn-primary w-100">
                Ingresar
            </button>
        </form>
    </div>
</div>
